@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

style {
    background-repeat: ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 1000;
    opacity: .2;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50px;
    color: papayawhip;
}


.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.navbar a:hover {
    letter-spacing: 3px;
}
.showcase {
    position:#777;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 1000;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: light black;
    mix-blend-mode: overlay;
}
.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;

}

.text p {
    font-size: 1em;
    margin: 200px 0;
    font-weight: 400;
    max-width: 700px;
}
section.about {
        max-width: 1000px;
        margin: auto;
        padding: 30px 0px;
        border-bottom: 2px solid black;
        color: #333;
}
section.projects {
        max-width: 1000px;
        margin: auto;
        padding: 30px 0px;
        /* border-bottom: 2px solid black; */
        color: #333;
}

aside{
    margin: 10px auto;
    min-height: 100px;
}
img.screenshot:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }